.red{ color:red;
font-size: 12px;

}
.bord{ 
    padding:10px;
    border-color: black;
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
}
#ph{
        background-color:gray;
        color: white;
        border: 1px solid black;
        border-spacing: 150px;
        width: 1020px;
       
        
}
.form{ 
    margin-left: 30px;
    
}
#fill{
    margin-left: 450px;
    font-size: 12px;
}.red1{
    color:red;
    font-size: 12px;
    margin-left: 497px;

}
#text{
    font-size: 13px;
    margin-left: 410px;
}
#input{
    width:350px;
    margin-left: 450px;
}